<div class="page-header">
  <h1>Welcome to Let's Decide</h1>
</div>

<p class="lead">Decide on something using the Decider Protocol from Jim and Michele McCarthy's <a href="http://www.mccarthyshow.com/online/">Core Protocols</a>.</p>


<p><h4><%= link_to 'Click Here To Create a proposal', proposals_new_path, id: 'proposal_create', class: 'actionButton'%></h4></p>
