<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>There has been a new vote on the proposal: <%= @proposal.title %></h2>
    <p>
      To see the voting results use this URL: <%= stats_viewing_path = stats_view_path(@proposal.proposal_id, :only_path => false)
                                                link_to stats_viewing_path, stats_viewing_path%>

    </p>
  </body>
</html>