<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>You have created the proposal: <%= @proposal.title %></h2>
    <p>
      In order to vote on this proposal send people the URL: <%= voting_path = vote_path(@proposal.proposal_id, :only_path => false)
                                          link_to voting_path, voting_path%>
    </p>
    <p>
      To see the voting results use this URL: <%= stats_viewing_path = stats_view_path(@proposal.proposal_id, :only_path => false)
                                                link_to stats_viewing_path, stats_viewing_path%>

    </p>
    <p>Thanks for creating a proposal, and have a great day!</p>
  </body>
</html>