Thanks for creating a proposal
==============================

You have created the proposal: <%= @proposal.title %>

In order to vote on this proposal send people the URL: <%= @proposal.voting_url %>

To see the voting results use this URL: <%= @proposal.stats_url %>

Thanks for creating a proposal, and have a great day!