<h1>List Of My Proposals</h1>

<% if @proposals.empty? %>
  <b>You have not created any proposals yet</b>
<% else %>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Details</th>
          <th>Date Created</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @proposals.each_with_index do |proposal, proposal_count | %>
          <% proposal_count += 1 %>
          <tr>
            <td><%= link_to proposal.title, show_proposal_path(proposal.proposal_id), id: 'proposal_link_' + proposal_count.to_s %></td>
            <td><%= proposal.details %></td>
            <td><%= proposal.created_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

<% end %>

<br>
