<h1>Vote on a proposal</h1>

<p>Please place your vote for the following proposal</p>
<p>Proposal Title: <%= @proposal.title %> </p>
<p>Proposal Details: <%=@proposal.details%></p>
<p>Proposed by: <%=@proposal.name%></p>

<%= form_tag("/vote/vote") do %>

    <%= hidden_field_tag(:proposal_id, @proposal.proposal_id) %>

    <p><%= radio_button_tag(:choice, 'Yes') %>
      <%= label_tag(:choice_Yes, 'Yes') %>
    </p>

    <p><%= radio_button_tag(:choice, 'No') %>
      <%= label_tag(:choice_No, 'No') %>
    </p>

    <p><%= radio_button_tag(:choice, 'Maybe') %>
      <%= label_tag(:choice_Maybe, 'Maybe') %>
    </p>

    <div class="field">
      <%= label_tag :vote_name, 'name:' %>
      <br>
      <%= text_field_tag :vote_name, nil, placeholder:  'your name' %>
    </div>

    <div class="field">
      <%= label_tag :vote_email, 'email:' %>
      <br>
      <%= email_field_tag :vote_email, nil, placeholder: current_user.nil? ? 'you@someplace.com' : current_user.email %>
    </div>

    <p><%= submit_tag "Vote!", :id => 'vote_submit' %></p>


<% end %>
