Vote registered.

You choose: <%= @vote%>

<p>Current votes:</p>
<p>Yes: <%=@proposal.total_yes%>  vote(s)</p>
<p>Maybe: <%=@proposal.total_maybe%> vote(s)</p>
<p>No: <%=@proposal.total_no%> vote(s)</p>
