<%= form_for @proposal, url: proposals_path do |f| %>
  <% if @proposal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@proposal.errors.count, "error") %> prohibited this proposal from being saved:</h2>

      <ul>
      <% @proposal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <br>
    <div class="field">
    <%= f.label :title, 'I propose that:' %><br>
    <%= f.text_field :title, size: "60" %>
  </div>
  <div class="field">
    <%= f.label :details, 'Details of what you are proposing' %><br>
    <%= f.text_area :details, size: "60x6" %>
  </div>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email, :value => user_signed_in? ? current_user.email : 'xxx' %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit :id => "create_proposal" %>
  </div>
<% end %>
