<h1>Listing proposals</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Details</th>
      <th>Proposal ID</th>
      <th>Total yes</th>
      <th>Total maybe</th>
      <th>Total no</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @proposals.each do |proposal| %>
      <tr>
        <td><%= proposal.title %></td>
        <td><%= proposal.details %></td>
        <td><%= proposal.proposal_id %></td>
        <td><%= proposal.email %></td>
        <td><%= proposal.total_yes %></td>
        <td><%= proposal.total_maybe %></td>
        <td><%= proposal.total_no %></td>
        <td><%= link_to 'Show', proposal %></td>
        <td><%= link_to 'Edit', edit_proposal_path(proposal) %></td>
        <td><%= link_to 'Destroy', proposal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Proposal', new_proposal_path %>
