<p id="notice"><%= notice %></p>

<p><h4>Your Proposal</h4></p>

<br>
<p>
  <strong>You propose that:</strong>
  <%= @proposal.title %>
</p>

<p>
  <strong>Details:</strong>
  <%= @proposal.details %>
</p>

<p>
  <strong>Your name:</strong>
  <%= @proposal.name %>
</p>

<p>
  <strong>Your email:</strong>
  <%= @proposal.email %>
</p>

<p>An email has been sent to you with these details.</p>

<br>
<p>In order for people to vote on this proposal you have two choices.<br>
  1) Send them this link: <%= voting_path = vote_path(@proposal.proposal_id, :only_path => false)
                              link_to voting_path, voting_path, id: "vote_url" %>

  <br>
  2) Add their email below. An email with the link will be sent to them.
  <br>

  <%= form_tag('/proposals/email', :id => 'addEmail', remote: true) do %>

      <%= hidden_field_tag(:id, @proposal.id) %>

      <%= label_tag(:invitee_email, 'Send this proposal to: ') %>
      <%= text_field_tag 'invitee_email', nil, placeholder: 'enter email to invite' %>

      <%= button_tag "Send Invite", :data => { :disable_with => "Sending email...." } %>

  <% end %>
</p>

<p>In order to check on the vote use the following link:
  <%= stats_viewing_path = stats_view_path(@proposal.proposal_id, :only_path => false)
                                            link_to stats_viewing_path, stats_viewing_path, id: "stats_url" %>
</p>

