<p><h2>Stats for proposal:<%=@proposal.title%></h2></p>

<p>Current votes:</p>
<p>Yes: <%=@proposal.total_yes%>  vote(s)</p>
<p>Maybe: <%=@proposal.total_maybe%> vote(s)</p>
<p>No: <%=@proposal.total_no%> vote(s)</p>

<p>People who voted:</p>
<% @voters.each do |voter| %>
    <p><%= voter.name %> : <%= voter.email %> : <%= voter.vote %></p>
<% end %>
