<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>DeciderApp</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href="//netdpowerna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

  <!--[if lt IE 9]>
  <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <style type="text/css">
      /* Sticky footer styles
-------------------------------------------------- */

      html,
      body {
          height: 100%;
          /* The html and body elements cannot have any padding or margin. */
      }

      /* Wrapper for page content to push down footer */
      #wrap {
          min-height: 100%;
          height: auto !important;
          height: 100%;
          /* Negative indent footer by its height */
          margin: 0 auto -60px;
          /* Pad bottom by footer height */
          padding: 0 0 60px;
      }

      /* Set the fixed height of the footer here */
      #footer {
          height: 60px;
          background-color: #f5f5f5;
      }

      /* Custom page CSS
      -------------------------------------------------- */
      /* Not required for template or sticky footer method. */

      #wrap > .container {
          padding: 60px 15px 0;
      }

      .container .credit {
          margin: 20px 0;
      }

      #footer > .container {
          padding-left: 15px;
          padding-right: 15px;
      }

      code {
          font-size: 80%;
      }
  </style>


</head>
<body>

<!-- Wrap all page content here -->
<div id="wrap">

  <!-- Fixed navbar -->
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Let's Decide</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <!--<li><a href="#about">About</a></li>-->
          <!--<li><a href="#contact">Contact</a></li>-->
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
              <li class="active"><a href="#">Logged in as <strong><%= current_user.email %></strong></a></li>
              <li class="active"><%= link_to 'My Proposals', my_proposals_view_path, id: "view__my_proposals" %></li>
              <li class="active"><%= link_to 'Edit profile', edit_user_registration_path, id: "edit_profile" %></li>
              <li class="active"><%= link_to "Logout", destroy_user_session_path, method: :delete, id: "logout" %></li>
          <% else %>
            <li class="active"><%= link_to "Sign up", new_user_registration_path, id: "signup" %></li>
            <li class="active"><%= link_to "Sign in", new_user_session_path, id: "signin" %></li>
          <% end %>
        </ul>

      </div>
      <!--/.nav-collapse -->
    </div>
  </div>

  <!-- Begin page content -->
  <div class="container">

    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= yield %>

  </div>
</div>



<div id="footer">
  <div class="container">
    <p class="text-muted credit">Let's Decide is a project by <a href="http://www.leanintuit.com" target="_blank">Leanintuit</a>.</p>
  </div>
</div>


<script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


<script type='text/javascript' src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>


<!-- JavaScript jQuery code from Bootply.com editor -->

<script type='text/javascript'>

    $(document).ready(function () {


    });

</script>

</body>
</html>